body {
    font: Montserrat, sans-serif;
    color: #f5f6f7;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-1 { 
    background-color: #286094; /* Dark Blue */
    color: #ffffff;
}

.bg-2 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-3 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}


.footer { 
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    background-color: #fff; 
    color: #2f2f2f; /* Black Gray */
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    /*background-color: #286094;*/
    line-height: normal;

}

.container-fluid_main {
    padding-top: 300px;
    padding-bottom: 10px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container-fluid_top {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-fluid_bottom {
  padding-top: 0px;
  padding-bottom: 30px;
}

.try{
  display: inline-table;
}
.sidenote{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

label {
  clear: none;
  position:static;
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
  cursor: pointer;
  z-index: 90;
  max-width: 120px;
  overflow: hidden;
}

label:hover {
  background: #DDD;
}

input.form_buttons {
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type=radio],
input.form_buttons {
  float: center;
  clear: none;
  margin: 2px 0 0 2px;
  opacity: 0.01;
  z-index: 100;
}


input.form_buttons[type="radio"]:checked+label,
.Checked+label {
  background: #286094;
  color: #ffffff;

}

textarea{
  border-radius: 5px;
  padding: 15px;

}


  